.sideBarMenu{
    position: fixed;
    background-color: rgb(255, 255, 255);
    left: 0;
    top: 46px;
    bottom: 0;
    width: 45px;
    z-index: 400;
}
.sidelink{
   
    height: 40px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.sidelink:hover{
    background-color: rgb(240, 239, 239);
    border-radius: 10px;
}
.sidelink img{
    height: 14px;
}
.iconName{
    font-size: 7px;
    font-family: roboto;
    margin-top: 4px;
    color: rgb(89, 88, 88);
}